@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-anton {
  font-family: 'Anton', sans-serif;
}
.font-lora {
  font-family: 'Lora', sans-serif;
}
.font-urbanist{
  font-family: "Urbanist", sans-serif;
}
nav>a{
  @apply font-urbanist bg-red-300 text-[16px]
}
h1{
  @apply  font-medium tablet:text-[50px] font-lora sm:text-[64px] text-[35px] ;
}
h2{
  @apply font-medium font-lora tablet:text-[36px] sm:text-[40px] text-[24px] ;
}
h3{
  @apply font-medium font-lora tablet:text-[20px] text-[36px];
}
p{
  @apply text-[16px]
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html{
  scroll-behavior: smooth;
}


