@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body{
  background-color: black;
}
.pill{
  @apply border-[1px] text-[8px] font-clashmd bg-white border-gray-400 text-gray-500
}
.font-anton {
  font-family: 'Anton', sans-serif;
}
.font-clash{
  font-family: ClashDisplay-Regular,sans-serif;
}
.font-clashh1{
  font-family: ClashDisplay-Medium,sans-serif;
}
.flex-center{
  @apply flex items-center justify-center
}
.cover{
  @apply absolute top-0 left-0 h-full w-full
}
.font-clashsm{
  font-family: ClashDisplay-Semibold,sans-serif;
}
.font-lora {
  font-family: 'Lora', sans-serif;
}
.font-urbanist{
  font-family: "Urbanist", sans-serif;
}
.overlap{
  @apply border-[1px] bg-gray-300  text-black text-[16px] font-clashmd  border-black
}
nav>a{
  @apply font-urbanist bg-red-300 text-[16px]
}
h1{
  @apply   font-clashh1 sm:text-[60px] text-[35px] ;
}
h2{
  @apply  font-clash tablet:text-[36px] sm:text-[40px] text-[24px] ;
}
h3{
  @apply  font-clash tablet:text-[20px] text-[36px];
}
h4{
  @apply font-clashh1 text-[36px]
}
h5{
  @apply font-clashsm text-[24px]
}
p{
  @apply font-clash text-[16px]
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.btn{
  @apply   h-[48px] w-[48px] hover:border-gray-600 transition-all hover:bg-opacity-[0.6]  hover:border-[1px] flex items-center justify-center rounded-full bg-black 
}
.hov{
  @apply  transition-all hover:text-opacity-[1] hover:font-semibold cursor-pointer
}
main{
  @apply px-[110px] min-h-screen w-screen py-[80px]
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



